@mixin media($point) {
    @if $point==lg {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }

    @else if $point==md {
        @media only screen and (min-width: 992px) {
            @content;
        }
    }

    @else if $point==sm {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }

    @else if $point==xs {
        @media only screen and (min-width: 413px) {
            @content;
        }
    }
}

@mixin transit($s) {
    will-change: transition;
    -webkit-transition: $s+s ease-in-out;
    -moz-transition: $s+s ease-in-out;
    -o-transition: $s+s ease-in-out;
    transition: $s+s ease-in-out;
}

* {
    box-sizing: border-box;
}